langchain
langchain-community
langchain-tavily
pymupdf
gradio
wikipedia
python-dotenv
tiktoken
numpy
pandas
requests
beautifulsoup4
langchain-openai
langchain-text-splitters
langchain-chroma
pypdf
python-dotenv
chromadb
tavily-python
openai