gradio
python-dotenv

langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma

chromadb

openai

tavily-python
wikipedia

pypdf
pymupdf

numpy
pandas
requests
beautifulsoup4

tiktoken
